{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Réinitialisation du mot de passe | Système de gestion de l’apprentissage' %}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Réinitialisation du mot de passe' %}</h3>

  <form action="" method="POST" class="form-box">{% csrf_token %}
    <div class="container">
      <div class="form-group">
        <i class="fas fa-envelope"></i> {% trans 'E-mail' %} {{ form.email }}
        <span class="danger">{{ form.email.errors }}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary"><small>{% trans 'Demander la réinitialisation' %}</small></button>
  </form>
</div>
{% endblock content %}
