{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'E-mail envoyé | Système de gestion de l’apprentissage' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'E-mail envoyé' %}</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>{% trans 'Un e-mail a été envoyé avec les instructions pour réinitialiser votre mot de passe. Veuillez vérifier votre boîte de réception.' %}
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>{% trans 'Retour à la connexion' %}</a>
  </div>
</div>
{% endblock content %}
