{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Réinitialisation du mot de passe terminée | Système de gestion de l’apprentissage' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Réinitialisation du mot de passe terminée' %}</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{% trans 'Votre mot de passe a été défini, vous pouvez maintenant vous connecter !' %}
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Se connecter ici' %}</a>
    </div>
</div>
{% endblock content %}
