{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Résultat de recherche pour' %} {{ query }} | {% trans 'Système de gestion de l’apprentissage' %}{% endblock title %}

{% load class_name %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Accueil' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Recherche' %}</li>
    </ol>
</nav>  

<div class="card p-3" style="box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 10px;">
    <h5 class="text-muted m-0">{{ count }} {% trans 'résultat' %}{{ count|pluralize }} {% trans 'pour' %} <b><em class="text-orange"> {{ query }}</em></b></h5>
    <hr>
    {% for object in object_list %}
        {% with object|class_name as klass %}
        {% if klass == "Program" %}
            <div class="col-12 class-item">
                <span class="bg-secondary text-light small px-2 rounded-pill">{% trans 'Programme' %}</span>
                <h5><a href="{{ object.get_absolute_url }}"><b>{{ object.title }}</b></a></h5>
                <p>{{ object.summary }}</p>
            </div><hr>

        {% elif klass == "Course" %}
            <div class="col-12 class-item">
                <span class="bg-secondary text-light small px-2 rounded-pill">{% trans 'Cours' %}</span>
                <p><b>{% trans 'Programme de' %}</b> {{ object.program }}</p>
                <h5><a href="{{ object.get_absolute_url }}"><b>{{ object }}</b></a></h5>
                <p>{{ object.summary }}</p>
            </div><hr>
            
        {% elif klass == "NewsAndEvents" %}
            <div class="col-12 class-item">
                <span class="bg-secondary text-light small px-2 rounded-pill">{% trans 'Actualités et Événements' %}</span>
                <p><b>{% trans 'Date:' %} </b> {{ object.updated_date|timesince }} {% trans 'il y a' %}</p>
                <h5><a href="{{ object.get_absolute_url }}"><b>{{ object.title }}</b></a></h5>
                <p>{{ object.summary }}</p>
            </div><hr>

        {% elif klass == "Quiz" %}
            <div class="col-12 class-item">
                <span class="bg-secondary text-light small px-2 rounded-pill">{% trans 'Quiz' %}</span>
                <p>{{ object.category }} {% trans 'quiz' %},  <b>{% trans 'Cours:' %}</b> {{ object.course }}</p>
                <h5><a href="{{ object.get_absolute_url }}"><b>{{ object.title }}</b></a></h5>
                <p>{{ object.description }}</p>
            </div><hr>

        {% else %}
            <div class="col-12 col-lg-8 offset-lg-4">
                <span class="bg-secondary text-light small px-2 rounded-pill">{% trans 'Programme' %}</span>
                <a href="{{ object.get_absolute_url }}" class="class-item d-flex">{{ object }} | {{ object|class_name }}</a>
            </div><hr>
            <div class="col-12 class-item">
                <h5><a href="{{ object.get_absolute_url }}">{{ object }} | <b>{{ object|class_name }}</b></a></h5>
                <p>{{ object.description }}</p>
            </div><hr>
        {% endif %}

        {% endwith %}

    {% empty %}

    <div class="row">
        <div class="col-12 col-md-6 mx-auto py-5">
        <form method="GET" action=".">
        
            <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                <input type="text" name="q" data-toggle="popover" data-placement="bottom" 
                data-content="{% trans 'Appuyez sur Entrée pour rechercher' %}" class="form-control cfe-nav" 
                placeholder="{% trans 'Rechercher...' %}" value="{{ request.GET.q }}" data-original-title="" title="" 
                autofocus="autofocus" required>
                <button type="submit" class="btn btn-dark">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

        </form>

        </div>
        <div class="col-12 pl-5">
        <h5>{% trans 'Rechercher par :' %}</h5>
        <ul class="pl-3">
            <li>{% trans 'Programme' %} <span class="text-orange">&gt;</span> {% trans 'Titre ou description' %}</li>
            <li>{% trans 'Cours' %} <span class="text-orange">&gt;</span>{% trans 'Titre, code ou description' %}</li>
            <li>{% trans 'Actualités et Événements' %} <span class="text-orange">&gt;</span> {% trans 'Titre, description ou simplement en tapant news ou event' %}</li>
            <li>{% trans 'Quiz' %} <span class="text-orange">&gt;</span>{% trans 'Titre, description ou catégorie (pratique, devoir ou examen)' %}</li>
        </ul>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}
